#map {
    height: 600px;
    width: 100%;
    display: inline-block;
}

.leaflet-popup-content{display: inline-block;
}

.leaflet-control-layers{background-color: rgb(236, 226, 226);
}

.sequence-control-container{
    height:20px;
}